.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #933d38;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 12s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.card {
    animation: fadeInDown 1s linear forwards;
    opacity: 0;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.4s;
}

.card:nth-child(3) {
    animation-delay: 0.8s;
}

.card:nth-child(4) {
    animation-delay: 1.2s;
}

.card:nth-child(5) {
    animation-delay: 1.6s;
}

.card:nth-child(6) {
    animation-delay: 2s;
}

.card:nth-child(7) {
    animation-delay: 2.4s;
}

.card:nth-child(8) {
    animation-delay: 2.8s;
}

.card:nth-child(9) {
    animation-delay: 3.2s;
}

.card:nth-child(10) {
    animation-delay: 3.6s;
}

.card:nth-child(11) {
    animation-delay: 4s;
}

.card:nth-child(12) {
    animation-delay: 4.4s;
}

.card:nth-child(13) {
    animation-delay: 4.8s;
}

.card:nth-child(14) {
    animation-delay: 5.2s;
}

.card:nth-child(15) {
    animation-delay: 5.6s;
}

.card:nth-child(16) {
    animation-delay: 6s;
}

.card:nth-child(17) {
    animation-delay: 6.4s;
}

.card:nth-child(18) {
    animation-delay: 6.8s;
}

.card:nth-child(19) {
    animation-delay: 7.2s;
}

.card:nth-child(20) {
    animation-delay: 7.6s;
}

.card:nth-child(21) {
    animation-delay: 8s;
}

.card:nth-child(22) {
    animation-delay: 8.4s;
}

.card:nth-child(23) {
    animation-delay: 8.8s;
}

.card:nth-child(24) {
    animation-delay: 9.2s;
}

.card:nth-child(25) {
    animation-delay: 9.6s;
}

.card:nth-child(26) {
    animation-delay: 10s;
}

.card:nth-child(27) {
    animation-delay: 10.4s;
}

.card:nth-child(28) {
    animation-delay: 10.8s;
}

.card:nth-child(29) {
    animation-delay: 11.2s;
}

.card:nth-child(30) {
    animation-delay: 11.6s;
}

.card:nth-child(31) {
    animation-delay: 12s;
}

.card:nth-child(32) {
    animation-delay: 12.4s;
}

.card:nth-child(33) {
    animation-delay: 12.8s;
}

.card:nth-child(34) {
    animation-delay: 13.2s;
}

.card:nth-child(35) {
    animation-delay: 13.6s;
}

.card:nth-child(36) {
    animation-delay: 14s;
}

.card:nth-child(37) {
    animation-delay: 14.4s;
}

.card:nth-child(38) {
    animation-delay: 14.8s;
}

.card:nth-child(39) {
    animation-delay: 15.2s;
}

.card:nth-child(40) {
    animation-delay: 15.6s;
}

.card:nth-child(41) {
    animation-delay: 16s;
}

.card:nth-child(42) {
    animation-delay: 16.4s;
}

.card:nth-child(43) {
    animation-delay: 16.8s;
}

.card:nth-child(44) {
    animation-delay: 17.2s;
}

.card:nth-child(45) {
    animation-delay: 17.6s;
}

.card:nth-child(46) {
    animation-delay: 18s;
}

.card:nth-child(47) {
    animation-delay: 18.4s;
}

.card:nth-child(48) {
    animation-delay: 18.8s;
}

.card:nth-child(49) {
    animation-delay: 19.2s;
}

.card:nth-child(50) {
    animation-delay: 19.6s;
}
@keyframes movedown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .timeline {
        margin: 20px auto;
    }

    .timeline::after {
        left: 31px;
    }


    .text-box {
        font-size: 13px;
    }




    .circle {
        left: 0.85rem;
    }

    .container-arrow {
        border-right: 15px solid #df1919;
        border-left: 0;
        left: -15px;
    }
}