@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu {
    z-index: 9999 !important;
}

.headroom {
    z-index: 30 !important;
}

/* General slide styling */
.slick-slide>div {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-item {
    width: 90% !important;
    height: 400px !important;
    position: relative;
    margin: 1rem !important;
}

/* Styling for screens with a max-width of 419px */
@media (max-width: 460px) {
    .slick-slide>div {
        margin: 0;
    }

    .slide-item {
        margin: 0 !important;
    }
}

/* Styling for screens between 420px and 768px */
@media (min-width: 461px) {
    .slick-slide>div {
        margin: 0;

    }

    .slide-item {
        width: 350px !important;
        height: 400px !important;
        margin: 0.5rem !important;
    }
}

/* Styling for screens between 769px and 1024px */
@media (min-width: 768px) {
    .slick-slide>div {
        margin: 0;
    }

    .slide-item {
        width: 350px !important;
        height: 440px !important;
    }
}

/* Styling for screens between 1025px and 1440px */
@media (min-width: 1024px) {
    .slick-slide>div {
        margin: 0 10px;
    }

    .slide-item {
        width: 440px !important;
        height: 500px !important;
    }
}

/* Styling for screens between 1441px and 1600px */
@media (min-width: 1281px) {
    .slick-slide>div {
        margin: 0 10px;
    }

    .slide-item {
        width: 440px !important;
        height: 500px !important;
    }
}

/* Styling for screens between 1441px and 1600px */
@media (min-width: 1440px) {
    .slick-slide>div {
        margin: 0 10px;
    }

    .slide-item {
        width: 440px !important;
        height: 500px !important;
    }
}

/* Styling for screens between 1601px and 1920px */
@media (min-width: 1600px) {
    .slick-slide>div {
        margin: 0 10px !important;
    }

    .slide-item {
        width: 440px !important;
        height: 500px !important;
    }
}

/* Styling for screens between 1921px and 2560px */
@media (min-width: 1920px) {
    .slick-slide>div {
        margin: 0 !important;
    }

    .slide-item {
        width: 400px !important;
        height: 500px !important;
    }
}

/* Styling for screens between 2561px and 3200px */
@media (min-width: 2560px) {
    .slick-slide>div {
        margin: auto !important;
    }

    .slide-item {
        width: 400px !important;
        height: 500px !important;
    }
}

/* Styling for screens larger than 3200px */
@media (min-width: 3200px) {
    .slick-slide>div {
        margin: auto !important;
    }

    .slide-item {
        width: 440px !important;
        height: 500px !important;
    }
}

input,
select {
    -webkit-text-fill-color: #933d38;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    caret-color: #933d38;
}

@media (max-width: 460px) {
    .contact-form-bg{
        background-size: 24rem 42rem !important;
    }
}

@media (min-width: 461px) and (max-width: 767px) {
    .contact-form-bg {
        background-size: 26rem 40rem !important;
    }
}

.history-overlay{
    background-size: 300px auto !important;
}